<h> Operation on data structure on list , dictionary,tuple,set </h>

<h> 1. creating the list

In [8]:
lst=[1,2,3,4,5,6]
print(lst)

# Accessing the list element 
print(lst[2])
print(lst[1])
# Adding the element using append function
lst.append(7)
lst

# Removing the element from the list
lst.remove(7)
lst

[1, 2, 3, 4, 5, 6]
3
2

[1, 2, 3, 4, 5, 6]

In [9]:
# Removing the element using pop function
lst.pop()
lst

[1, 2, 3, 4, 5]

In [10]:
# Updating the Value using index help
lst[3]="madhavsharma"
lst

[1, 2, 3, 'madhavsharma', 5]

In [11]:
# Addding or concatenate the Two list
lst1=[1,2,3,4,5]
lst2=[6,7,8,9]
print(lst1+lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# Accessing the element of the list using for loop
for i in lst:
    print(i)

1
2
3
madhavsharma
5

In [27]:
# using the sort function in list 
print(sorted(lst2))

[6, 7, 8, 9]

In [30]:
# reversing the list using reverse function
lst.reverse()
lst

[5, 'madhavsharma', 3, 2, 1]

<h> 2. Tuple

In [31]:
tple=(1,2,3,4,5,"madhav","sharma")
print(tple)

(1, 2, 3, 4, 5, 'madhav', 'sharma')

In [36]:
# Accessing the element of the tuple
print(tple[1])
print(tple[3])
# Accessing the element using for loop
for i in tple:
    print(i)

2
4
1
2
3
4
5
madhav
sharma

In [37]:
# Adding the two tuple
tple1= (1,2,3,4,5)
tple2=(2,3,4,5)
print(tple+tple2)

(1, 2, 3, 4, 5, 'madhav', 'sharma', 2, 3, 4, 5)

<h> 3. Dictionary

In [41]:
# Initializing the Dictionary
dicti={1:"madhav",2:"mahendra",3:"kirti",4:"harshrah"}
print(dicti)

# Accessing the element of the dictionary using key
print(dicti[2])
print(dicti[1])
# using get function
print(dicti.get(3))

{1: 'madhav', 2: 'mahendra', 3: 'kirti', 4: 'harshrah'}
mahendra
madhav
kirti

In [44]:
# updating or adding the element in dictionary
dicti[2]="kirtishrma"
print(dicti)

dicti["madhavc"]="piet"
dicti

{1: 'madhav', 2: 'kirtishrma', 3: 'kirti', 4: 'harshrah'}

{1: 'madhav', 2: 'kirtishrma', 3: 'kirti', 4: 'harshrah', 'madhavc': 'piet'}

In [48]:
del dicti[1]
dicti

{3: 'kirti', 4: 'harshrah', 'madhavc': 'piet'}

In [50]:
# Accessing the keys of the dictionary
print(dicti.keys())

dict_keys([3, 4, 'madhavc'])

In [52]:
# accessing the values of the dictionary
print(dicti.values())

dict_values(['kirti', 'harshrah', 'piet'])

In [53]:
for key in dicti.keys():
    print(key,dicti[key])

3 kirti
4 harshrah
madhavc piet

<h> 4. Set

In [59]:
# Initializing the set 
set1={1,2,3,4,5}
print(set1)

# adding the value in set
set1.add(6)
set1

set1.remove(1)
set1

# Accessing the set using for loop
for i in set1:
    print(i)

{1, 2, 3, 4, 5}
2
3
4
5
6

In [62]:
# adding the two or more set
set1
set2={"madhav","sharma","E"}