<h> set data structure in python

<h> set are created using the {} brackets 

sets are muttable 

duplictes are not allowed in sets 

they are unordered arranged

In [1]:
# creating a set 
sett={1,2,3,4,5}
print(sett)
print(type(sett))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
# adding the element 
sett.add(7)
print(sett)

{1, 2, 3, 4, 5, 7}

In [5]:
# poping the element from the set 
sett.pop()
# run 3 time 

sett

{4, 5, 7}

In [9]:
# Removing a specific element 
sett1={1,2,3,4,5,6,7}
sett1.remove(3)
print(sett1)

# removing using discard function 
sett1.discard(4)
print(sett1)

{1, 2, 4, 5, 6, 7}
{1, 2, 5, 6, 7}

In [10]:
# iterating the values 
sett1
for i in sett1:
    print(i)

1
2
5
6
7

In [11]:
# checking the values 
print(1 in sett1)
print(8 in sett1)

True
False

In [12]:
# finding the union between two set 
set2={2,4,6,8,10}
set3={1,3,5,7,9}
print(set2 | set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
# finding the intersection of sets 
set2
set4={2,4,1,5,7}
print(set2 & set4)

{2, 4}

In [16]:
# subtracting the two set 
print(set2)
print(set4)
set2-set4 # will remove all the common values

{2, 4, 6, 8, 10}
{1, 2, 4, 5, 7}

{6, 8, 10}

In [17]:
set4-set2 #{1,5,7}

{1, 5, 7}

In [18]:
# symmentric operations
# will remove all the common elements and give the new set 
print(set2^set4)

{1, 5, 6, 7, 8, 10}

In [21]:

def sum_set(set2):
    return sum(set2)

sum_set(set2)

30